.slick-prev,
.slick-next {
  position: absolute !important;
  z-index: 99999 !important;
  width: 40px;
  height: 40px;
}

.slick-prev {
  left: 0;
  top: 34%;
}

.slick-next {
  right: 0;
  top: 34%;
}

.slick-prev:before,
.slick-next:before {
  color: red !important;
  font-size: 3rem;
}
